@import url('__item/slider__item.css');

.slider {
    position: relative;
    overflow: hidden;
    padding: 0 104px !important;
    margin-bottom: 48px;
}

.slider__container {
    display: grid;
    grid-auto-flow: column;
    padding-bottom: 48px;
    position: relative;
    justify-content: flex-start;
}

.swiper-wrapper {
    display: flex;
}

.swiper-pagination {
    position: relative!important;
    text-align: center;
    transition: opacity .3s;
    transform: translateZ(0);
    z-index: 10;
}

.swiper-pagination-bullet {
    margin: 0 4px;
    background: #d1d2d6!important;
    width: 8px;
    height: 8px;
    display: inline-block;
    border-radius: 100%;
}

.swiper-pagination-bullet:focus {
    outline: none;
}

.swiper-pagination-bullet-active {
    background: #1A1B22 !important;
}

.slider__control-button-next {
    width: 40px;
    height: 40px;
    background: url(../../images/slider-control.svg);
    position: absolute;
    top: calc(50% - 16px);
    z-index: 100;
    right: 10px;
    background-position: center -7px;
    transform: rotate(180deg);
    cursor: pointer;
}

.slider__control-button-prev {
    width: 40px;
    height: 40px;
    background: url(../../images/slider-control.svg);
    position: absolute;
    top: calc(50% - 16px);
    z-index: 100;
    left: 10px;
    background-position: center -7px;
    cursor: pointer;
}

.swiper-button-disabled {
    display: none;
}

.slider::after {
    content: "";
    width: 88px;
    height: 288px;
    position: absolute;
    z-index: 10;
    right: 0;
    top:0;
    background: linear-gradient(90deg, rgba(245, 246, 247, 0) 0%, #F5F6F7 100%);
}

.slider::before {
    content: "";
    width: 88px;
    height: 288px;
    position: absolute;
    z-index: 10;
    left: 0;
    top:0;
    background: linear-gradient(270deg, rgba(245, 246, 247, 0) 0%, #F5F6F7 100%);
}

.section__link_big {
    display: none;
}

.git__error {
    text-align: center;
    display: none;
}

@media screen and (max-width:320px) {
    .git .section__link {
        display:none;
    }

    .section__link_big {
        display: block;
        border: 1px solid #1A1B22;
        box-sizing: border-box;
        border-radius: 80px;
        margin:24px auto 0;
        width: calc(100% - 32px);
        text-align: center;
        padding: 15px 0;
        color: #1A1B22;
        text-decoration: none;
        font-weight: 500;
        font-size: 18px;
        line-height: 24px;
    }

    .slider::after {
        display: none;
    }
    
    .slider::before {
        display: none;
    }

    .slider {
        position: relative;
        overflow: hidden;
        padding: 0 16px !important;
        margin-bottom: 48px;
    }

    .slider__control-button-next {
        display: none;
    }
    
    .slider__control-button-prev {
        display: none;
    }
}

@media screen and (min-width:321px) and (max-width:767px) {
    .git .section__link {
        display:none;
    }

    .section__link_big {
        display: block;
        border: 1px solid #1A1B22;
        box-sizing: border-box;
        border-radius: 80px;
        margin:24px auto 0;
        width: calc(100% - 32px);
        text-align: center;
        padding: 15px 0;
        color: #1A1B22;
        text-decoration: none;
        font-weight: 500;
        font-size: 18px;
        line-height: 24px;
    }

    .slider::after {
        display: none;
    }
    
    .slider::before {
        display: none;
    }

    .slider {
        position: relative;
        overflow: hidden;
        padding: 0 16px !important;
        margin-bottom: 48px;
    }

    .slider__control-button-next {
        display: none;
    }
    
    .slider__control-button-prev {
        display: none;
    }
}

@media screen and (min-width:768px) and (max-width:1439px) {
    .slider {
        position: relative;
        overflow: hidden;
        padding: 0 40px !important;
        margin-bottom: 48px;
    }

    .slider__control-button-next {
        display: none;
    }
    
    .slider__control-button-prev {
        display: none;
    }

    .slider::after {
        display: none;
    }
    
    .slider::before {
        display: none;
    }
}